:root {
  // Primary colors
  --primary: #702EF0;
  --cta: #FF3700;
  
  // Speaker section
  --speaker-name: #372860;
  --speaker-location: #9992AB;
  --speaker-background: #F8F8F8;
  
  // Info background
  --background-light: #FFEEE6;
  
  // Text colors
  --text-dark: #0D0D0D;
  --text-primary: #5F45F0;
  --text-secondary: #04BFAD;
  --text-white: #FFFFFF;
  
  // Footer
  --footer-text: #E1CBB8;
  --footer-background: #343237;
}

